<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel - GST Billing System</title>
    <meta name="description" content="Admin Panel - GST Billing System">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
    <style>
        @keyframes zoomin {
            0% {
                transform: scale(1);
            }
            10% {
                transform: scale(1.2);
            }
        }
    </style>

</head>

<body>
    <div class="login-dark" style="background-image:url(&quot;images/background.png&quot;);background-position:center;background-size:cover;animation:zoomin 3s;transition:all .3s;background-repeat:no-repeat;">
        <form method="post" action="/index" style="width:320px;margin:0px;">
            <% if(message){%>
                <div class="alert alert-danger alert-error text-center"><%= message%></div>
            <% }%>
            <h2 class="sr-only">Login Form</h2>
            <div data-bs-hover-animate="pulse" class="illustration" style="background-image:url(&quot;assets/img/logo_bakbak.png&quot;);background-size:contain;background-position:center;background-repeat:no-repeat;max-height:160px;height:160px;min-height:10px;"></div>
            <div class="form-group"><input class="form-control" type="email" name="username" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><button class="btn btn-outline-primary active btn-block btn-lg" type="submit" data-bs-hover-animate="shake" style="background-image:url(&quot;none&quot;);">Log In</button></div>
            <a class="text-success forgot" href="pages-forget">Forgot your email or password?</a>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>