<!DOCTYPE html>
<html lang="en">

<head>
  <!-- daterange picker 
   <link rel="stylesheet" href="../assets/daterangepicker/daterangepicker-bs3.css"> -->
   <!-- Date picker plugins css -->
  <link href="assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
  <!-- Daterange picker plugins css -->
  <link href="assets/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet" />
  <link href="assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
  <%- include('header'); -%>

  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="row page-titles">
      <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Reports</h3>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="javascript:void(0)">Home</a>
          </li>
          <li class="breadcrumb-item active">Generate Report</li>
        </ol>
      </div>
      <div class="col-md-7 col-4 align-self-center">
        <div class="d-flex m-t-10 justify-content-end">
          <div class="d-flex m-r-20 m-l-10 hidden-md-down">
            <div class="chart-text m-r-10">
              <h6 class="m-b-0">
                <small>THIS MONTH</small>
              </h6>
              <h4 class="m-t-0 text-info"><i class="fa fa-inr"></i><%= currentSale.toFixed(2) %></h4>
            </div>
            <div class="spark-chart">
              <div id="monthchart"></div>
            </div>
          </div>
          <div class="d-flex m-r-20 m-l-10 hidden-md-down">
            <div class="chart-text m-r-10">
              <h6 class="m-b-0">
                <small>LAST MONTH</small>
              </h6>
              <h4 class="m-t-0 text-primary"><i class="fa fa-inr"></i><%= previousSale.toFixed(2) %></h4>
            </div>
            <div class="spark-chart">
              <div id="lastmonthchart"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
      
    <div class="card">
      <div class="card-body">
      <h4 class="card-title">Choose Date Range :</h4>
        <div class="row">
         <form action="/report" type="POST" name="report" class="input-group">
           <!--<div class="col-md-2"></div>-->
          <div class="col-md-8">
           <div class="example">
              <div class="input-daterange input-group" id="date-range">
                  <input type="text" class="form-control" name="start" />
                  <span class="input-group-addon bg-info b-0 text-white">to</span>
                  <input type="text" class="form-control" name="end" />
              </div>
            </div>
          </div>
          <!--<input type="hidden" id="startDate" name="startDate" value="" />
          <input type="hidden" id="endDate" name="endDate" value="" />-->
          <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Generate Report</button> 
       </form>
        </div>
      </div>
    </div>
      
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Products Data Table</h4>
                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                <div class="table-responsive m-t-40">
                  <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th>Operations</th>
                        <th>Product Name</th>
                        <th>Brand Name</th>
                        <th>Buying Price</th>
                        <th>Selling Price</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Operations</th>
                        <th>Product Name</th>
                        <th>Brand Name</th>
                        <th>Buying Price</th>
                        <th>Selling Price</th>
                      </tr>
                    </tfoot>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>


  <!-- Date Picker Plugin JavaScript -->
    <script src="assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
   <!-- Date range Plugin JavaScript -->
    <script src="assets/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script>
    // Date Picker
    jQuery('.mydatepicker, #datepicker').datepicker();
    jQuery('#datepicker-autoclose').datepicker({
        autoclose: true,
        todayHighlight: true
    });
    jQuery('#date-range').datepicker({
        toggleActive: true
    });
    jQuery('#datepicker-inline').datepicker({
        todayHighlight: true
    });
    // Daterange picker
    $('.input-daterange-datepicker').daterangepicker({
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-danger',
        cancelClass: 'btn-inverse'
    });
    $('.input-daterange-timepicker').daterangepicker({
        timePicker: true,
        format: 'MM/DD/YYYY h:mm A',
        timePickerIncrement: 30,
        timePicker12Hour: true,
        timePickerSeconds: false,
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-danger',
        cancelClass: 'btn-inverse'
    });
    $('.input-limit-datepicker').daterangepicker({
        format: 'MM/DD/YYYY',
        minDate: '06/01/2015',
        maxDate: '06/30/2015',
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-danger',
        cancelClass: 'btn-inverse',
        dateLimit: {
            days: 6
        }
    });
    </script>
  <!-- date-range-picker 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
  <script src="../assets/daterangepicker/daterangepicker.js"></script>
  <script>
  $(function () {
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges   : {
          'Today'       : [moment(), moment()],
          'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month'  : [moment().startOf('month'), moment().endOf('month')],
          'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate  : moment()
      })
  })
  </script> 
  <script>
    $(document).ready(function() {
      var start = $('#daterange-btn').data('daterangepicker').startDate.format('YYYY-MM-DD');
      var end = $('#daterange-btn').data('daterangepicker').endDate.format('YYYY-MM-DD');
      document.getElementById('startDate').value = start;
      document.getElementById('endDate').value = end;
    });
  </script> -->
  <!-- This is data table -->
  <script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
  <!-- start - This is for export functionality only -->
  <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
  <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
  <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
  <!-- end - This is for export functionality only -->
  <!-- ============================================================== -->
  <!-- This page plugins -->
  <!-- ============================================================== -->
  <script src="assets/js/jasny-bootstrap.js"></script>

  <script>
    $(document).ready(function () {
      $('#myTable').DataTable();
      $(document).ready(function () {
        var table = $('#example').DataTable({
          "columnDefs": [{
            "visible": false,
            "targets": 2
          }],
          "order": [
            [2, 'asc']
          ],
          "displayLength": 25,
          "drawCallback": function (settings) {
            var api = this.api();
            var rows = api.rows({
              page: 'current'
            }).nodes();
            var last = null;
            api.column(2, {
              page: 'current'
            }).data().each(function (group, i) {
              if (last !== group) {
                $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                last = group;
              }
            });
          }
        });
        // Order by the grouping
        $('#example tbody').on('click', 'tr.group', function () {
          var currentOrder = table.order()[0];
          if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
            table.order([2, 'desc']).draw();
          } else {
            table.order([2, 'asc']).draw();
          }
        });
      });
    });
    $('#example23').DataTable({
      dom: 'Bfrtip',
      buttons: [
        'copy', 'csv', 'excel', 'pdf', 'print'
      ]
    });
  </script>
    <%- include('footer'); -%>
