<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel - GST Billing System</title>
    <meta name="description" content="Admin Panel - GST Billing System">
    <link rel="shortcut icon" href="assets/images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">

    <style>
        @keyframes zoomin {
            0% {
                transform: scale(1);
            }
            10% {
                transform: scale(1.2);
            }
        }
    </style>
</head>

<body>
    <div class="login-dark">
        <form method="post" action="/reset-pass/<%= token %>">
            <div style="animation:zoomin 3s;transition:all .3s;">
                <h2 class="sr-only">Login Form</h2>
                <% if(message){%>
                    <div class="alert alert-danger alert-error text-center">
                        <span class="badge badge-pill badge-danger">Error </span>
                        <%= message%>
                    </div>
                    <% }%>
                        <% if(successMessage){%>
                            <div class="alert alert-success alert-success text-center">
                                <span class="badge badge-pill badge-success">Success </span>
                                <%= successMessage%>
                            </div>
                            <% }%>
                                <div data-bs-hover-animate="pulse" class="illustration" style="background-image:url(&quot;assets/images/logo_bakbak.png&quot;);background-size:contain;background-repeat:no-repeat;background-position:center;height:160px;"></div>
                                <div class="form-group">
                                    <input class="form-control" type="password" name="password" placeholder="New Password">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="password" name="confpassword" placeholder="Confirm Password" data-toggle="text">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-outline-primary active btn-block" type="submit" data-bs-hover-animate="shake">Submit</button>
                                </div>
            </div>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>